.imagenI{
 margin-left: 100%;
 padding-right: 10%;
 padding-top: 10%;
 content:800 x 600% ;
 border-right: 10%;
}
.textA{
 margin-top: 10%;
 margin-right: 50%;
 padding-top: 10%;
 border-left: 10%;
 padding-left: 10%;
 padding-bottom: 30%;
}
.tituloK{
 bottom: 10%;
 padding-top: 10%;

}