<html>
    <head>
        
    </head>
      <body style="background-color:powderblue;">
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">Login</a></li>
             <li class="breadcrumb-item"><a href="#">Sign Up</a></li>
                        <!--<li class="breadcrumb-item active" aria-current="page">Sign Up</li> -->
            </ol>
         </nav>
           <div class="col-md-6" algin="left">
                <!-- imagen -->         
                <div>
                    <img class="imagenI" src="https://fcda83403961100baa63-6b75d3a70c699e63772caac69eefc7e8.ssl.cf5.rackcdn.com/Article66.jpg" alt="imagen no encontrada bb">
                </div>
           </div>  
                <div class="col-md-6" algin="right">
                        <p class="TituloK">Bienvenido a la appi</p>
                        <p class="textA" style="margin-top: 40px !important">La humanidad, desde sus albores ha trazado las pautas para la transferencia de conocimientos de generación en generación.
                            En conclusión, todo modelo, centro o institución educativa: dependerá del paradigma impuesto por las personas que interfieren en ella; se enriquecerá de las variedades del entorno; será capaz de gestionar personas hacia el desarrollo de sus habilidades cognoscitivas; no se limitará a espacios físicos; y por encima de todo, transmitirá conocimiento a cada uno de los entes que componen el proceso de enseñanza y aprendizaje..
                        </p>
                
                </div>
           
      </body>    
            
            
    </html>