<div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
        <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                     <li class="breadcrumb-item"><a href="#">Home</a></li>
                     <li class="breadcrumb-item"><a href="#">Library</a></li>
                     <li class="breadcrumb-item active" aria-current="page">Data</li>
                    </ol>
                </nav>
        </div>
    
           <div class="col-md-8" algin="left"style="background-color:powderblue;">
                <!-- imagen -->
                <p class="text-left">La humanidad, desde sus albores ha trazado las pautas para la transferencia de conocimientos de generación en generación.
                    En conclusión, todo modelo, centro o institución educativa: dependerá del paradigma impuesto por las personas que interfieren en ella; se enriquecerá de las variedades del entorno; será capaz de gestionar personas hacia el desarrollo de sus habilidades cognoscitivas; no se limitará a espacios físicos; y por encima de todo, transmitirá conocimiento a cada uno de los entes que componen el proceso de enseñanza y aprendizaje..
                </p>
                <div class="col-md-4" algin="right">
                        <p>Bienvenido a la appi</p>
                        <div class="shadow-lg p-3 mb-5 bg-white rounded">
                            <img class="imagenI" src="C:\Users\Administrator\Desktop\Repositorio1\proyecto2\assets\Article66.jpg" alt="https://fcda83403961100baa63-6b75d3a70c699e63772caac69eefc7e8.ssl.cf5.rackcdn.com/Article66.jpg">
                            <span class="border border-info"> </span>
                        </div>
                
                </div>
           </div>
            
</div>