<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Ingresar email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1"> no soy un robot</label>
  </div>
  <button type="submit" class="btn btn-primary">IniciarSesion</button>
</form>

<form>
        <div class="form-row padding">
          <div class="col-md-3 mb-2">
            <label for="validationServer01">Nombre</label>
            <input type="text" class="form-control is-valid" id="validationServer01" value="" required>
            <div class="valid-feedback">
              Bien!
            </div>
          </div>
          <div class="col-md-3 mb- 2">
            <label for="validationServer02">Apellido</label>
            <input type="text" class="form-control is-valid" id="validationServer02" value="" required>
            <div class="valid-feedback">
              Bien!
            </div>
          </div>
          <div class="col-md-3 mb-2">
            <label for="validationServerUsername">Usuario</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"></span>
              </div>
              <input type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3" required>
              <div class="invalid-feedback">
                
              </div>
            </div>
          </div>
        </div>
        <div class="form-row padding">
          <div class="col-md-3 mb-3">
            <label for="validationServer03">Establecimiento</label>
            <input type="text" class="form-control is-invalid" id="validationServer03" required>
            <div class="invalid-feedback">
              
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationServer04">comuna</label>
            <select class="custom-select is-invalid" id="validationServer04" required>
              <option selected disabled value="">Choose...</option>
              <option>...</option>
            </select>
            <div class="invalid-feedback">
              
            </div>
          </div>
          <div class="col-md-3  mb-3">
            <label for="validationServer05">Contraseña</label>
            <input type="text" class="form-control is-invalid" id="validationServer05" required>
            <div class="invalid-feedback">
                Ingrese contraseña.
            </div>
          </div>
        </div>
        <div class="form-group padding">
          <div class="form-check">
            <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
            <label class="form-check-label" for="invalidCheck3">
              Aceptar los términos y condiciones.
            </label>
            <div class="invalid-feedback">
              Debes aceptar antes de registrarte.
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Registrarse</button>
      </form>