

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lista Alumnos</title>



</head>
<body>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
          <a class="nav-link active" href="/inicio">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inicio">Salir</a>
        </li>
      </ul>
      <br>
      
      <div class="container">
          <form>
              <table class="table table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Materia</th>
                      <th scope="col">Prueba1</th>
                      <th scope="col">Prueba2</th>
                      <th scope="col">Prueba3</th>
                      <th scope="col">Prueba4</th>
                      <th scope="col">Promedio</th>
                      <th scope="col">Control1</th>
                      <th scope="col">Control2</th>
                      <th scope="col">Control3</th>
                      <th scope="col">Control4</th>
                      <th scope="col">Promedio</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Lenguaje</td>
                      <td>7</td>
                      <td>7</td>
                      <td>7</td>
                      <td>7</td>
                      <td>7</td>
                      <td>7</td>
                      <td>7</td>
                      <td>7</td>
                      <td>7</td>
                    </tr>
                  </tbody>
                </table>
            </form>    
      </div>
  
</body>
</html>
