<html>
    <head>
      <h4>Bienvenides alumnes</h4> 
    </head>
    <body style="background-color:powderblue;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Sign off</a></li>
            <!--<li class="breadcrumb-item active" aria-current="page">Sign Up</li> -->
          </ol>
        </nav>
        <table class="table table-bordered">
           <thead>
              <tr>
                <th scope="col">Materia</th>
                <th scope="col">Prueba1</th>
                <th scope="col">Prueba2</th>
                <th scope="col">Prueba3</th>
                <th scope="col">Prueba4</th>
                <th scope="col">Control1</th>
                <th scope="col">Control2</th>
                <th scope="col">Control3</th>
                <th scope="col">Control4</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                 <th scope="row">nombreMateria</th>
                  <td>notaP1</td>
                  <td>notaP2</td>
                  <td>notaP3</td>
                  <td>notaP4</td>
                  <td>notaC1</td>
                  <td>notaC2</td>
                  <td>notaC3</td>
                  <td>notaC4</td>
                </tr>
                <tr>
                  <th scope="row">nombreMateria</th>
                  <td>notaP1</td>
                  <td>notaP2</td>
                  <td>notaP3</td>
                  <td>notaP4</td>
                  <td>notaC1</td>
                  <td>notaC2</td>
                  <td>notaC3</td>
                  <td>notaC4</td>
                </tr>
                <tr>
                  <th scope="row">nombreMateria</th>
                  <td>notaP1</td>
                  <td>notaP2</td>
                  <td>notaP3</td>
                  <td>notaP4</td>
                  <td>notaC1</td>
                  <td>notaC2</td>
                  <td>notaC3</td>
                  <td>notaC4</td>
                </tr>
             </tbody>
        </table>
    </body>
    
</html>