



<!DOCTYPE html>
<html>

    <head>
     
    </head>
    <body>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
          <a class="nav-link active" href="/inicio">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
      <br>
        
    <div class="container">

        <div class="col-sm-4">
            <a href="/curso" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Regresar</a>
        </div>
        <br>

        <h1>Agregar Alumno</h1>
        <br>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inlineFormCustomSelect">Alumno</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>Selecciona...</option>
                  <option value="alumno">Burbuja</option>
                  <option value="profesor">Goku</option> 
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="Curso">Curso</label>
                <input type="text" class="form-control" id="apellido" value="PTF">
              </div>
            </div>
            <br>
            <h2>Notas</h2>
            <br>
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="nota">Nota 1</label>
                <input type="text" class="form-control" id="validationTooltip03"  required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="nota">Nota 2</label>
                <input type="text" class="form-control" id="validationTooltip03"  required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="nota">Nota 3</label>
                <input type="text" class="form-control" id="validationTooltip03"  required>
              
              </div>
              <div class="col-md-3 mb-3">
                <label for="nota">Nota 4</label>
                <input type="text" class="form-control" id="validationTooltip03"  required>
              
              </div>
                 
            </div>
          

            <br>
            <h2>Controles</h2>
            <br>
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="nota">Control 1</label>
                <input type="text" class="form-control" id="validationTooltip03"  required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="nota">Control 2</label>
                <input type="text" class="form-control" id="validationTooltip03"  required>
              </div>
              <div class="col-md-3 mb-3">
                <label for="nota">Control 3</label>
                <input type="text" class="form-control" id="validationTooltip03"  required>
              
              </div>
              <div class="col-md-3 mb-3">
                <label for="nota">Control 4</label>
                <input type="text" class="form-control" id="validationTooltip03"  required>
              
              </div>
                 
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
          </div>
    
    </body>



</html>