<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profesor</title>
</head>
<body>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
          <a class="nav-link active" href="/inicio">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profesor">Profesor</a>
        </li>
      </ul>
      <br>

      <div class="container">
          <div class="row">
            <div class="col-sm-4">
                    <a href="/profesor" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Regresar</a>
            </div>
            <div class="col-sm-2">
                <h1>Curso PTF</h1>
            </div>
            <div class="col-sm-6">
                    <a href="/cursoalumno" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Agregar Alumno</a>
            </div>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
              <table class="table table-hover table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Alumno</th>
                      <th scope="col">nota</th>
                      <th scope="col">nota</th>
                      <th scope="col">nota</th>
                      <th scope="col">nota</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">BURBUJA</th>
                      <td>4.5</td>
                      <td>6.0</td>
                      <td>5.8</td>
                      <td>4.0</td>
                    </tr>
                    <tr>
                            <th scope="row">GOKU</th>
                            <td>5.5</td>
                            <td>3.0</td>
                            <td>7.8</td>
                            <td>4.0</td>
                    </tr>
                  </tbody>
                </table>


              </div>
        </div>
     
</body>
</html>