<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profesor</title>
</head>
<body>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
          <a class="nav-link active" href="/inicio">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/inicio">Salir</a>
        </li>
      </ul>
      <br>

      <div class="container">
          <div class="row">
            <div class="col-sm-4">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cursos
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="curso">PTF</a>
                      <a class="dropdown-item" href="#">MARKETING DIGITAL</a>
                    </div>
                  </div>
            </div>
            <div class="col-sm-2">
                <p>Bienvenido PROFESOR</p>
            </div>
            <div class="col-sm-6">
                <form>
                    <div class="form-group">
                
                      <input type="text" class="form-control" id="ncurso" placeholder="Nuevo Curso">
                      <label for="crearcurso" class="sr-only">Crear Curso</label>
 
                </div>
                           
                      <button type="submit" class="btn btn-primary">Crear</button>
                    
                   
                  </form>
            </div>
          </div>
        </div>
        <br>
        <div class="container">
          <div class="row">
              <table class="table table-hover table-dark">
                  <thead>
                    <tr>
                      <th scope="col">Cursos</th>
                      <th scope="col">Materia</th>
                      <th scope="col">Materia</th>
                      <th scope="col">Materia</th>
                      <th scope="col">Materia</th>
                      <th scope="col">Materia</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">PTF</th>
                      <td>TYPE SCRIPT</td>
                      <td>JAVA</td>
                      <td>HTML</td>
                      <td>HABILIDADES BLANDAS</td>
                      <td>C++</td>
                    </tr>
                    <tr>
                        <th scope="row">MARKETING DIGITAL</th>
                        <td>FOTOGRAFIA</td>
                        <td>CONTABILIDAD</td>
                        <td>PHOTOSHOP</td>
                        <td>ADMINISTRACIÓN</td>
                        <td>PAISAJISMO</td>
                    </tr>
                  </tbody>
                </table>


              </div>
        </div>
     
</body>
</html>