.form-group {
    padding-left: 0px;
    padding-right: 10px;
   
}
.btn{

    padding-left: 40px;
    padding-right: 10px;
    top: 50px;

}
.col-6{

    padding-left: 50px;
    padding-right: 10px;
    top: 50px;

}